{% extends 'scoreboard/base.html' %}
{% load staticfiles %}
{% block title %}{{ cluster }}{% endblock %}

{% block content %}
<div class="parallax-container" style="height: 200% ;background: rgba(0, 0, 0, 0.30);">
  <div class="parallax"><img src="{% static 'live/images/1234.png' %}" ></div>
    <div class="row">
    <div class="col l2 m2 s2 push-l5" style="padding-top: 30px">
      <img class="circle" src="{{object.image.url}}" alt="" width="100%">
    </div>
  </div>
  <div class="row white-text">
    <h3 class="center cluster-name">{{object.name}} CLUSTER</h3>
    <span class="center"></span>
  </div>
</div>
<div class="schedule-container">
  <h5 class="center">{{cluster.team_name}} Game Statistics</h5>
  <table>
    <thead>
      <tr>
        <th data-field="event">Event</th>
        <th data-field="wins">Wins</th>
        <th data-field="loses">Loses</th>
        <th data-field="rank">Rank</th>
      </tr>
    </thead>
    <tbody>
    {% for event, stat in stats.items %}
      {% include "live/partials/clusterstat.html" %}
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
