{% extends 'scoreboard/base.html' %}
{% load staticfiles %}
{% block title %}Home{% endblock %}

{% block content %}

<div class="par-img">
  <img class="responsive-img" src="{% static 'live/images/bannerphoto.png' %}">
</div>
<div class="schedule-container">
  <div class="row">
    <div class="col s12 m6 l4">
      <ul class="collapsible" data-collapsible="expandable">
        <h5 class="collapsible-head event-mode"><i class="fa fa-backward fa-fw"></i><span>Recent Games</span></h5>

        {% for match in recent_games|slice:":5" %}
        <li>
          <div class="collapsible-header">{{ match }}</div>
          <div class="collapsible-body">
            <div class="row">
              <div class="col l3 m3 s3">

              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <h6><i class="fa fa-map-marker fa-fw"></i>Location: {{ match.event.location }}</h6>
                <h6><i class="fa fa-trophy fa-fw"></i>Winner: {{ match.winner }}</h6>
              </div>
            </div>
          </div>
        </li>

        {% empty %}

        <li>
          <div><br>
            <h6 style="text-align: center">No Recent Games</h6>
          </div>
          <br>
        </li>

        {% endfor %}

        {% if recent_games %}
        <li>
          <div class="collapsible-header"><a href="{% url "live:schedule"%}" class="white-text">See More<i class="material-icons right">send</i></a></div>
        </li>
        {% endif %}

      </ul>
    </div>
    <div class="col s12 m6 l4">
      <ul class="collapsible" data-collapsible="expandable">
        <h5 class="collapsible-head event-mode"><i class="fa fa-cog fa-spin fa-fw"></i><span>Ongoing Games</span></h5>

        {% for match in ongoing_games|slice:":5" %}
        <li>
          <div class="collapsible-header">{{ match }}</div>
          <div class="collapsible-body">
            <div class="row">
              <div class="col s12">
                <h6><i class="fa fa-map-marker fa-fw"></i>Location: {{ match.event.location }}</h6>
                <h6><i class="fa fa-clock-o fa-fw"></i>Started Since: {{ match.start_time|date:"F j o, f A"  }}</h6>
              </div>
            </div>
          </div>
        </li>

        {% empty %}

        <li>
          <div><br>
            <h6 style="text-align: center">No Ongoing Games</h6>
          </div>
          <br>
        </li>

        {% endfor %}

        {% if ongoing_games %}
        <li>
          <div class="collapsible-header"><a href="{% url "live:schedule"%}" class="white-text">See More<i class="material-icons right">send</i></a></div>
        </li>
        {% endif %}

      </ul>
    </div>
    <div class="col s12 m6 l4">
      <ul class="collapsible" data-collapsible="expandable">
        <h5 class="collapsible-head event-mode"><i class="fa fa-heartbeat fa-fw"></i><span>Upcoming Games</span></h5>

        {% for match in upcoming_games|slice:":5" %}
        <li>
          <div class="collapsible-header">{{ match }}</div>
          <div class="collapsible-body">
            <div class="row">
              <div class="col s12">
                <h6><i class="fa fa-map-marker fa-fw"></i>Location: {{ match.event.location }}</h6>
                <h6><i class="fa fa-clock-o fa-fw"></i>Start Time: {{ match.start_time|date:"F j o, f A" }}</h6>
              </div>
            </div>
          </div>
        </li>

        {% empty %}

        <li>
          <div><br>
            <h6 style="text-align: center">No Upcoming Games</h6>
          </div>
          <br>
        </li>

        {% endfor %}

        {% if upcoming_games %}
        <li>
          <div class="collapsible-header"><a href="{% url "live:schedule"%}" class="white-text">See More<i class="material-icons right">send</i></a></div>
        </li>
        {% endif %}

      </ul>
    </div>
  </div>
</div>


<div class="cluster-banner row">
  <h4 class="center white-text grey darken-4 cluster-header" style="padding-top: 10px; padding-bottom: 10px">UP CEBU CLUSTERS</h4>
  {% for cluster in clusters %}
  <div class="col s12 m6 l3 center">
    <a href="{% url "live:cluster" cluster.pk %}">
      <img class="circle" src="{{cluster.image.url}}" alt="" width="50%">
    </a>
    <h6 class="cluster-name-home">{{cluster.team_name}}</h6>
  </div>
  {% endfor %}
</div>
{% endblock %}
