{% extends 'scoreboard/base.html' %}
{% load staticfiles %}
{% block title %} Intrams 2016 | Home {% endblock %}

{% block content %}

<div class="parallax-container">
  <div class="parallax"><img src="{% static 'live/images/bannerphoto.png' %}" alt=""></div>
</div>
Upcoming: 
{% for event in upcoming_events %}
{{ event }} at {{ event.location }}<br>
{% empty %}
None
{% endfor %}
Ongoing:
{% for event in ongoing_events %}
{{ event }} at {{ event.location }}<br>
{% empty %}
None
{% endfor %}
{% endblock %}
