{% extends 'scoreboard/base.html' %}
{% load staticfiles %}
{% block title %} Intrams 2016 | Home {% endblock %}

{% block content %}
<div>
  <ul class="tabs">
    <li id="majorg-tab" class="tab col s6">
      <a href="#majorg" class="active">Major Games</a>
    </li>
    <li id="minorg-tab" class="tab col s6">
      <a href="#minorg" class="active">Minor Games</a>
    </li>
  </ul>
  <div class="schedule-container">
    <div id="majorg" class="col s12">
      <ul class="collapsible popout" data-collapsible="expandable">
		{% for event in event_list %}
		<li>
			<div class="collapsible-header">{{ event.name }}</div>
			<div class="collapsible-body">
				{% for schedule in event.schedules.all %}
				{{ schedule.time }}
				{% endfor %}
			</div>
		</li>
		{% endfor %}
      </ul>
    </div>
    <div id="minorg" class="col s12">
      <ul class="collapsible popout" data-collapsible="expandable">

      </ul>
    </div>
  </div>
</div>
{% endblock %}
