{% extends 'scoreboard/base.html' %}
{% load staticfiles %}
{% block title %} Intrams 2016 | Schedule {% endblock %}

{% block content %}
<div>
  <ul class="tabs">
    <li id="majorg-tab" class="tab col s6">
      <a href="#majorg" class="active" >Major Games</a>
    </li>
    <li id="minorg-tab" class="tab col s6">
      <a href="#minorg" class="active">Minor Games</a>
    </li>
  </ul>
  <div class="schedule-container">
    <div id="majorg" class="col s12">
      <div class="row">
        {% for event in event_list %}
          {% if forloop.counter|divisibleby:2 %}
          <div class="row">
            {% include "live/partials/gametable.html" %}
          </div>
          {% else %}
            {% include "live/partials/gametable.html" %}
          {% endif %}
        {% empty %}
        {% endfor %}
      </div>
    </div>
    <div id="minorg" class="col s12">
      <ul class="collapsible popout" data-collapsible="expandable">

      </ul>
    </div>
  </div>
</div>
{% endblock %}
