{% extends 'scoreboard/base.html' %}
{% load staticfiles %}
{% block title %} Intrams 2016 | Scoreboard {% endblock %}

{% block content %}
<div class="row">
  {% for cluster in clusters %}
  <div class="col s2 m2 l2 push-l4 push-s4 push-m4 grey white-text darken-4 center" style="border: 1px solid white">
    <div style="padding-top: 20px">
      <a href="{% url "live:cluster" cluster.pk %}"><img src="{{cluster.image.url}}" alt="" class="circle" width="25%"></a>
    </div>
    <div class="cluster-label"><a href="{% url "live:cluster" cluster.pk %}" class = "white-text">{{cluster.team_name}}</a></div>
  </div>
  {% endfor %}
</div>
{% for event, scores in event_scores.iteritems %}
<div class="scoreboard-row row">
  <div class="col s4 m4 l4">
    <div class="cluster-label">{{ event }}</div>
  </div>
  {% for score in scores %}
  <div class="col s2 m2 l2 center">
	  <span>{{ score.points|default:"--" }}</span>
  </div>
  {% endfor %}
</div>
{% endfor %}
<div class="row">
  <div class="col l4 m4 s4 grey white-text darken-4">
    <b>TOTAL</b>
  </div>
  {% for cluster in clusters %}
   <div class="col s2 m2 l2 grey white-text darken-4 center" style="border: 1px solid white">
      <b><span>{{cluster.points|default:"--" }}</span></b>
   </div>
  {% endfor %}
</div>
{% endblock %}
