.navbar {
	background-color: black;
	padding-left: 10px;
	padding-right: 10px;
}

.navbar li a:hover {
    background-color: maroon;
    color: white;
}

.tabs {
	background-color: whitesmoke;
}

ul.tabs > li.tab > a {
    color: grey;
    font-weight: 600;
}

ul.tabs > li.tab > a:hover {
    color: black;
    font-weight: 600;
}

ul.tabs > div.indicator {
    height: 5px;
    background-color: grey;
}

.schedule-container {
    padding-right: 50px;
    padding-top: 25px;
    padding-left: 50px;
}